Django==1.8.9
django-bootstrap3==7.0.1
django-constance==1.2
django-nested-admin==3.0.5
django-picklefield==0.3.2
django-rest-swagger==0.3.7
django-settings-export==1.1.0
django-subdomains==2.1.0
django-tinymce==2.3.0
django-wysiwyg==0.7.1
djangorestframework==3.3.3
drfdocs==0.0.9
MySQL-python==1.2.5
Pillow==3.2.0
python-monkey-business==1.0.0
PyYAML==3.11
six==1.10.0
wheel==0.24.0