{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/{{ settings.THEME }}/add-discussion.css" rel="stylesheet" media="screen">

    <link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/tagit.ui-zendesk.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      {% include 'header.html' %}
        <style>
            body{
                padding-top:70px;
            }
            ul.tagit{
                background-color:white;
            }
        </style>
<div class="container main-content well">
        <h2 style="margin-top:20px;">Add new Discussion</h2>
    
    <form action="/discussions/add_new_thread" method="post" >
        {% csrf_token %}
        <fieldset class="form-group">
            <input class="form-control" name="title" placeholder="Thread Title" required>
        </fieldset>
        <fieldset class="form-group">
            <textarea type="text" class="form-control" name="description" placeholder="description" ></textarea>
        </fieldset>
        
        <fieldset class="form-group">
            <label>Add Tags</label>
            <input type="text" name="tag" value="" class="tag" id="tags_1"/>
        </fieldset>
        
        <button class="btn btn-primary">Add</button>
    </form>
        
</div><!-- /.container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
    $(function() {
        var sampleTags = [ {% for tag in tags %}"{{tag.name}}",{% endfor %}];
        $('#tags_1').tagit({
                availableTags: sampleTags
            });
    
    });
    </script>
     <script>
    tinymce.init({
      selector: 'textarea',
      height: 100,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code'
      ],
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      
    });
    </script>
    
  </body>
</html>
