{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <style>
      ul {
          list-style: none;
          padding:0px;
      }
      
      textarea {
          resize: none;
          height: 150px;
      }
      </style>
      {% include 'header.html' %}

<div class="container main-content">
    <div class="page-header">
        <h1>Reply to {{ discussion.title }}</h1>
    </div>
    
    <form action="/discussions/{{ discussion.id }}/reply/" method= "post" enctype="multipart/form-data"> 
        {% csrf_token %}
        <fieldset class="form-group">
            <textarea type="text" class="form-control" name="text" placeholder="enter your reply"></textarea>
        </fieldset>

        <fieldset class="form-group" id="attachment-group">
            <label>Add Attachments</label>
            <input type="file" name="attachments">
        </fieldset>
        <input type="submit"/>
    </form>
    
        
</div><!-- /.container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
    <script>
    $(function() {
      inputs = 1
      // We can attach the `fileselect` event to all file inputs on the page
      $(document).on('change', ':file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
      });

      // We can watch for our custom `fileselect` event like this
      $(document).ready( function() {
          $(':file').on('fileselect', function(event, numFiles, label) {

              var input = $(this).parents('.input-group').find(':text'),
                  log = numFiles > 1 ? numFiles + ' files selected' : label;

              if( input.length ) {
                  input.val(log);
              } else {
                  file = $('<input/>').attr('type', 'file').attr('name', 'attachments').attr('id',inputs++)
                  file.on('change',add_more_inputs)
                  $("#attachment-group").append(file)
                  
              }

          });
      });
      
      function add_more_inputs(){
          file = $('<input/>').attr('type', 'file').attr('name', 'attachments').attr('id',inputs)
          inputs += 1
          file.on('change',add_more_inputs)
          $("#attachment-group").append(file)
      }

    });
    </script>
  </body>
</html>
