{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" media="screen">

  </head>
  <body>
      <style>
        .profile-img{
            height : 200px;
            width : 200px;
            clip: rect(0px,200px,200px,0px);
            margin-bottom: 20px;
        }
        
      textarea {
          resize: none;
          height: 150px;
      }
      </style>
      {% include 'header.html' %}

<div class="container main-content">
    <div class="page-header">
        <h1>Edit Profile</h1>
    </div>

    {% if user.profile_image %}
    <img src="{{ user.profile_image }}" class="img-circle center-block profile-img" id="profile-picture">
    {% else %}
    <img src="{% static 'images/blank-profile-image.png' %}" class="img-circle center-block profile-img" >
    {% endif%}
    
    <form action="/user/edit_profile/" method= "post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <input class="form-control" name="first_name" placeholder="First Name" value="{{ user.user.first_name }}">
        </fieldset>
        <fieldset class="form-group">
            <input class="form-control" name="last_name" placeholder="Last Name" value="{{ user.user.last_name }}">
        </fieldset>
        <fieldset class="form-group">
            <input class="form-control" name="age" placeholder="Age" value="{{ user.age }}">
        </fieldset>
       <div class="form-group">
         <label for="sel1">Gender</label>
         <select class="form-control" name="gender" id="gender">

           <option>female</option>
           <option {% if male %}selected{% endif %}>male</option>
         </select>
       </div>
              <input type=file style="display:none" name="profile_picture" id="profile-picture-input" type=hidden>

       <fieldset class="form-group">
            <button class="btn btn-primary" type="submit">Save changes</button>
        </fieldset>
    </form>
        
</div><!-- /.container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
    <script>
        $("#profile-picture").click(function() {
            $("#profile-picture-input").click();
        });
        
        document.getElementById("profile-picture-input").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById("profile-picture").src = e.target.result;
            };

            reader.readAsDataURL(this.files[0]);
        };
    </script>
  </body>
</html>
