{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
<link href="/static/css/{{user.theme}}.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
      {% include 'header.html' %}
      <style>
      body{
          padding-top:40px;
      }
        .profile-img{
            height : 200px;
            width : 200px;
            clip: rect(0px,200px,200px,0px);
            margin-bottom: 20px;
        }
        
      textarea {
          resize: none;
          height: 150px;
      }
      
      @media (min-width:768px) and (max-width:991px){
          body{
              padding-top:70px;
          }
      }
      
      </style>
<div class="container main-content ">
    <div class="page-header">
        <h2>Edit Profile</h2>
    </div>
    
    <div class="container well">
        <div class="col-md-3">
    {% if user.profile_image %}
    <img src="{{ user.profile_image }}" class="img-circle center-block profile-img" id="profile-picture">
    {% else %}
    <img src="{% static 'images/blank-profile-image.png' %}" class="img-circle center-block profile-img" >
    {% endif%}
</div>
    
    <form action="/user/edit_profile/" method= "post" enctype="multipart/form-data" class=col-md-9>
        {% csrf_token %}
        <fieldset class="form-group">
            <label>First Name</label>
            <input class="form-control" name="first_name" placeholder="First Name" value="{{ user.user.first_name }}">
        </fieldset>
        <fieldset class="form-group">
            <label>Last Name</label>
            <input class="form-control" name="last_name" placeholder="Last Name" value="{{ user.user.last_name }}">
        </fieldset>
        <fieldset class="form-group">
            <label>Age</label>
            <input class="form-control" name="age" placeholder="Age" value="{{ user.age }}">
        </fieldset>
       <div class="form-group">
         <label for="sel1">Gender</label>
         <select class="form-control" name="gender" id="gender">

           <option>female</option>
           <option {% if male %}selected{% endif %}>male</option>
         </select>
       </div>
       <div class="form-group">
         <label for="sel1">Theme</label>
         <select class="form-control" name="theme" id="theme">

           <option>journal</option>
           <option {% if flat %}selected{% endif %}>flat</option>
           <option {% if cerulean %}selected{% endif %}>cerulean</option>
           <option {% if paper %}selected{% endif %}>paper</option>
         </select>
       </div>
              <input type=file style="display:none" name="profile_picture" id="profile-picture-input" type=hidden>

       <fieldset class="form-group">
            <button class="btn btn-primary" type="submit">Save changes</button>
        </fieldset>
    </form>
</div>
</div><!-- /.container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
    <script>
        $("#profile-picture").click(function() {
            $("#profile-picture-input").click();
        });
        
        document.getElementById("profile-picture-input").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById("profile-picture").src = e.target.result;
            };

            reader.readAsDataURL(this.files[0]);
        };
    </script>
  </body>
</html>
