      <div id="desktop-nav-container">
          <div id="header-title">
              <span class="title-college-name">IIT Bombay</span><br>
              <span class="title-portal">Campus Portal</span>
          </div>
          
          <div class="dropdown pull-right" id="profile-dropdown">
            <a data-toggle="dropdown">Hi! Pranav
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Logout</a></li>
              <li><a href="#">Edit Profile</a></li>
            </ul>
          </div>
          
          <div id="desktop-nav-list">
              <ul id="menu">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/discussions/">Forums</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Results</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Recruitments</a></li>
              </ul>
          </div>
      </div>
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <a class="navmenu-brand" href="#">
        <span style="color: #333;">IIT Bombay<span><br>
        <span style="color: #337ab7;">Campus Portal</span>
    </a>
      <ul class="nav navmenu-nav">
        <li><a href="#">Recruitments</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Results</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">News</a></li>
        <li><a href="/discussions/">Forums</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navmenu-nav">
        <li><a href="/user/logout">logout</a></li>
      </ul>
</nav>
<div id="navBarTop" class="navbar navbar-default navbar-fixed-top">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>