{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Uninversity Campus Portal</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/login-register.css' %}" />
    </head>
    <body>
        
        <div class="page-header header">
            <div class="container">
            <h2>{{ settings.SITE_TITLE }}</h2>
            <h4>Campus Portal</h4>
            </div>
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
          
       
         <footer class="footer">
             <div class="container">
                 <span class="text-muted">Footer</span>
             </div>
         </footer>
         
         
         
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        
    
    </body>
</html>