{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ settings.SITE_TITLE }} Campus Portal</title>
        
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link href="/static/css/{{ settings.THEME }}/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/{{ settings.THEME }}/login-register.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="page-header header">
            <div class="container">
            <h2>{{ settings.SITE_TITLE }}</h2>
            <h4>Campus Portal</h4>
            </div>
        </div>
         
        <div class="container tab-group">
            <div class="row tab-group">
                <div id="login-tab-button" class="col-xs-6 tab" onclick="showLoginForm()">Login</div>
                <div id="register-tab-button" class="col-xs-6 tab tab-selected" onclick="showRegisterForm()">
                    Register
                </div>
             </div>
        </div>
        
        <div id="form-container" class="container">
            <!--Login Form -->
            <form class="tab_form" id="login-form" action="/user/login/" method="post">
                <h3 class="form-title">Login</h3>
                {% csrf_token %}
                <fieldset class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="email">
                </fieldset>
                <fieldset class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </fieldset>  
                    <button type="submit" class="btn btn-block btn-success">Submit</button>

                    <a href="#" 
                    data-toggle="modal" data-target="#password-modal" class="pull-right">forgot password?</a>
            </form>
            <!--Login form ends -->
             
            <!--Registrations Form -->
            <form class="tab_form" id="registration-form" action="/user/register/" 
                data-toggle="validator" method="post">
                <h3 class="form-title">Register</h3>
                {% csrf_token %}
                
                <fieldset class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="email">
                </fieldset>
                
                <fieldset class="form-group">
                    <input type="password" id="inputPassword" class="form-control" 
                        name="password" placeholder="password">
                </fieldset>  
                
                <fieldset class="form-group">
                    <input type="password" class="form-control" name="repassword"
                        data-match="#inputPassword" 
                        data-match-error="Whoops, these don't match" 
                        placeholder="confirm password">
                <div class="help-block with-errors"></div>
                </fieldset>
                
                <fieldset class="form-group">
                    <input  class="form-control" name="first_name" placeholder="First Name">
                </fieldset>  
                
                <fieldset class="form-group">
                    <input  class="form-control" name="last_name" placeholder="Last Name">
                </fieldset>  
                
                <fieldset class="form-group">
                    <div class="row">
                        <label class="col-xs-4 ">Register as:</label>
                        <label class="radio-inline col-xs-4">
                            <input value="Teacher" type="radio" name="designation">Teacher
                        </label>
                        <label class="radio-inline col-xs-offset-4">
                            <input type="radio" value="Student" checked name="designation">Student
                        </label>
                    </div>
                </fieldset>  
                
                <button type="submit" class="btn btn-block btn-success">Submit</button>

             </form>
              <!--Registration Form Ends-->
         </div>
         <!--Form Container Ends -->
         
         <footer class="footer">
             <div class="container">
                 <span class="text-muted">Sample Footer</span>
             </div>
         </footer>
         
         <!-- Message Modal -->
         <div class="modal fade" id="message-modal" role="dialog" >
             <div class="modal-dialog">
                 <!-- Modal content-->
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Response</h4>
                     </div>
                     <div class="modal-body">
                         <p id="modal-text"></p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                 </div>
             </div>
         </div>
         
         <!-- Forgot Password Modal -->
         <div class="modal" id="password-modal" role="dialog" >
             <div class="modal-dialog">
                 <!-- Modal content-->
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Forgot password</h4>
                     </div>
                     <!--Forgot Password Form -->
                     <div class="modal-body">
                         <form id="forgot-password-form" action="/user/forgot_password/" 
                           style="padding:10px;" method="get">
                             {% csrf_token %}
                             <label>Enter your registered email</label>
                             <fieldset class="form-group">
                                 <input type="email" class="form-control" name="email" placeholder="email">
                             </fieldset>
                                 <button type="submit" class="btn btn-block btn-success">Submit</button>
                         </form>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                     
                     <!--Forgot password form ends -->
                 </div>
             </div>
         </div>
         
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/validator.js' %}"></script>
        <script src="{% static 'js/login-register.js' %}"></script>
        
        <script>
            $( document ).ready(function() {


             {% if is_login_page %}

                 showLoginForm();

             {% endif %}

             {% if message %}
                 $("#modal-text").append("{{ message | safe }}");
                 $("#message-modal").modal();
             {% endif %}

            });
        </script>
    </body>
</html>