<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Uninversity Campus Portal</title>
    </head>
    <body>
        <div class="container">
            <div id="header" class="row">
                <h1>Welcome to UCP!</h1>
            </div>
            <div id="main" class="row">
                <div id="login_container" class="col-md-6">login form goes here</div>
                <div id="registration_container" class="col-md-6">registration form goes here</div>
            </div>
            <div id="footer" class="row">
                <p>Hey this is the footer</p>
            </div>
        </div>
    </body>
</html>