{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/{{user.theme}}.css" rel="stylesheet" media="screen">
    <style>
    body{
        padding-top:40px;
    }
      .profile-img{
          height : 200px;
          width : 200px;
          clip: rect(0px,200px,200px,0px);
          margin-bottom: 20px;
      }
      
    textarea {
        resize: none;
        height: 150px;
    }
    
    @media (min-width:768px) and (max-width:991px){
        body{
            padding-top:70px;
        }
    }
    
    </style>
   
  </head>
  <body>

      {% include 'header.html' %}

<div class="container main-content">
    <div class="page-header">
        <h1>{{ other_user.user.first_name }} {{ other_user.user.last_name }}</h1>
    </div>

    {% if other_user.profile_image %}
    <img src="{{ user.profile_image }}" class="img-circle center-block profile-img" id="profile-picture">
    {% else %}
    <img src="{% static 'images/blank-profile-image.png' %}" class="img-circle center-block profile-img" >
    {% endif%}
    <p><b>Gender:</b> {{other_user.gender}}</p>
    <p><b>Age:</b> {{other_user.age}}</p>
    
        
</div><!-- /.container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

  </body>
</html>
