{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    
    <link href="{% static 'css/light/profile.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" media="screen">
   
  </head>
  <body>

      {% include 'header.html' %}

<div class="container main-content">
    <div class="page-header">
        <h1>{{ user.user.first_name }} {{ user.user.last_name }}</h1>
    </div>

    {% if user.profile_image %}
    <img src="{{ user.profile_image }}" class="img-circle center-block profile-img" id="profile-picture">
    {% else %}
    <img src="{% static 'images/blank-profile-image.png' %}" class="img-circle center-block profile-img" >
    {% endif%}
    <p><b>Gender:</b> {{user.gender}}</p>
    <p><b>Age:</b> {{user.age}}</p>
    
        
</div><!-- /.container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

  </body>
</html>
