{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
            <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link href="/static/css/{{ settings.THEME }}/bootstrap.css" rel="stylesheet" media="screen">
    
        <link rel="stylesheet" type="text/css" href="{% static 'css/light/login-register.css' %}" />
    </head>
    <body>
        <div class="page-header header">
            <div class="container">
            <h2>{{ settings.SITE_TITLE }}</h2>
            <h4>Campus Portal</h4>
            </div>
        </div>
          
        <!--Login Form -->
        <div class="container">
            <form action="/user/reset_password/" data-toggle="validator" method="post">
                <h3>Reset Password</h3>
                {% csrf_token %}
                <fieldset class="form-group">
                    <input class="form-control" name="reset_code" placeholder="code">
                </fieldset>
                
                <fieldset class="form-group">
                    <input type="password" id="inputPassword" class="form-control" 
                        name="password" placeholder="password">
                </fieldset>  
                
                <fieldset class="form-group">
                    <input type="password" class="form-control" name="repassword"
                        data-match="#inputPassword" 
                        data-match-error="Whoops, these don't match" 
                        placeholder="confirm password">
                <div class="help-block with-errors"></div>
                    <button type="submit" class="btn btn-block btn-success">Submit</button>
            </form>
        </div>
        
        <!--Login form ends -->
         <footer class="footer">
             <div class="container">
                 <span class="text-muted">Footer</span>
             </div>
         </footer>
         
         <!--MESSAGE MODAL-->
         <div class="modal fade" id="message-modal" role="dialog" >
             <div class="modal-dialog">
                 <!-- Modal content-->
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Error</h4>
                     </div>
                     <div class="modal-body">
                         <p id="modal-text"></p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                 </div>
             </div>
         </div>
         <!--END MESSAGE MODAL-->
         
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/validator.js' %}"></script>
        <script src="{% static 'js/login-register.js' %}"></script>
        
        <script>
            $( document ).ready(function() {


             {% if is_login_page %}

                 showLoginForm();

             {% endif %}

             {% if response.message %}
                 $("#modal-text").append("<h4>{{ response.message }}</h4>")
                 {% for error in response.errors %}
                     $("#modal-text").append("{{ error }}")
                 {% endfor %}
                 $("#message-modal").modal();
             {% endif %}


            });
        </script>
    </body>
</html>