{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{{ settings.SITE_TITLE }} Campus Portal</title>
            <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link href="/static/css/{{settings.THEME}}.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <style>
        body{
            padding-top:70px;
        }
        </style>
        <div class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header" >
                  <a href="../" class="navbar-brand" style="padding-top:10px">
                      <img src="{% static settings.LOGO %}" style="display: inline-block;height:30px;"/>
                      {{ settings.SITE_TITLE }} Campus Portal
                  </a>
                </div>

                </div>
              </div>
            </div>
          
        <!--Login Form -->
        <div class="container well">
            <form class="form-horizontal" action="/user/reset_password/" data-toggle="validator" method="post">
                {% csrf_token %}
                
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Code</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" name="reset_code"  required placeholder="Code">
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-lg-2 control-label">New Password</label>
                  <div class="col-lg-10">
                    <input type="password" class="form-control" required name="password" id="inputPassword" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-lg-2 control-label">Confirm Password</label>
                  <div class="col-lg-10">
                    <input type="password" class="form-control" name="repassword"
                        data-match="#inputPassword" 
                        data-match-error="Whoops, these don't match" 
                        placeholder="confirm password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
<!--            <form action="/user/reset_password/" data-toggle="validator" method="post">
                <h3>Reset Password</h3>
                {% csrf_token %}
                <fieldset class="form-group">
                    <input class="form-control" name="reset_code" placeholder="code">
                </fieldset>

                <fieldset class="form-group">
                    <input type="password" id="inputPassword" class="form-control"
                        name="password" placeholder="password">
                </fieldset>

                <fieldset class="form-group">
                    <input type="password" class="form-control" name="repassword"
                        data-match="#inputPassword"
                        data-match-error="Whoops, these don't match"
                        placeholder="confirm password">
                <div class="help-block with-errors"></div>
                    <button type="submit" class="btn btn-block btn-success">Submit</button>
            </form> -->
        </div>
        
         
         <!--MESSAGE MODAL-->
         <div class="modal fade" id="message-modal" role="dialog" >
             <div class="modal-dialog">
                 <!-- Modal content-->
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Error</h4>
                     </div>
                     <div class="modal-body">
                         <p id="modal-text"></p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                 </div>
             </div>
         </div>
         <!--END MESSAGE MODAL-->
         
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/validator.js' %}"></script>
        <script src="{% static 'js/login-register.js' %}"></script>
        
        <script>
            $( document ).ready(function() {


             {% if is_login_page %}

                 showLoginForm();

             {% endif %}

             {% if response.message %}
                 $("#modal-text").append("<h4>{{ response.message }}</h4>")
                 {% for error in response.errors %}
                     $("#modal-text").append("{{ error }}")
                 {% endfor %}
                 $("#message-modal").modal();
             {% endif %}


            });
        </script>
    </body>
</html>