html {
  position: relative;
  min-height: 100%;
}


#header-image{
    width:70px;
    float:left;
    margin-right: 20px;
    height:70px;
}

#header-logo{
    float:left;
}

button {
    padding:0px;
    margin:0px;
    margin-top:auto;
    margin-bottom:auto;
    background:none;
    border:none;
}


.navbar-toggle {
  float: left;
  margin-left: 15px;
}

#desktop-nav-container, #logout{
    display:none;
}

@media (min-width: 768px) {

  #navBarTop, #myNavmenu {
      display: none;
  }
  
  #profile-dropdown{
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
  }
  
  #profile-dropdown li{
      list-style: none;
  }
  
  #profile-dropdown a{
      color: white;
  }
  #profile-dropdown a:hover{
      color: #0ce3ac;
  }
  
  #desktop-nav-container{
      display: block;
      height: 100px;
      width: 100%;
      background: #375A7F;
      position: relative;
  }
  
  #desktop-nav-list{
      position:absolute;
      bottom:0px;
      right:0px;
      height:50px;
      min-width:50%;
  }
  
  #header-title{
      position: absolute;
      height: 80px;
      top: 10px;
      left: 40px;
      padding: 5px;
  }
  
  .title-college-name {
      font-size: 2.2em;
  }
  
  .title-portal{
      font-weight: bold;
      font-size: 1.2em;
      color: black;
  }
    
  ul#menu {
      padding: 0;
  }

  ul#menu li {
      display: inline;
      float: right;
      height: 50px;
      margin-top:22px;
  }

  ul#menu li a {
      color: white;
      padding: 10px 20px;
      text-decoration: none;
  }

  ul#menu li a .active {
      background-color: white;
  }
  
  ul#menu li a:hover {
      color: #0ce3ac;
  }
}